.tabla{
background-color: lightskyblue;  
font-family:sans-serif;
border: 5px solid black;
border-collapse: collapse;
text-align: center;
margin
}
.columna-principal{
    color: white;
    background-color:black
   
}
.columna-px {
    color:white;
    background-color:#548CA8;

}
.columna-em{
    color: white;
    background-color:#334257;
}
.columna-rem{
    background-color: #476072;
color: white;
}
.columna-porcentaje{ 
    background-color: #9B72AA;
    color:white
}
.columna-vw{
color: white;
    background-color: #BEAEE2;
}